.footer-top {
    background: rgba(0, 0, 0, 0) url("../images/footer-bg.jpg") no-repeat scroll center center / cover;
    position: relative;
}

.footer-top::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}

.footer {
    padding: 48px 0 65px;
}

.single-footer {
    position: relative;
}

.single-footer p {
    color: #f5f5f4;
    font-weight: 300;
    margin-top: 25px;
}

.single-footer h2 {
    color: #fff;
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 45px;
    margin-top: 30px;
}

.footer-contact li {
    color: #f4f4f4;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
}

.footer-contact li::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 25px;
}

.footer-contact li i {
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
    padding-top: 7px;
}

.footer-contact span {
    display: block;
}

.footer-menu li {
    margin-bottom: 10px;
}

.footer-menu ul li a {
    color: #f4f4f4;
    display: block;
    font-size: 14px;
    line-height: 20px;
}

.footer-menu ul li:hover a {
    color: #f6416c;
}

.footer-message-box {
    padding-right: 0;
}

.footer-message-box input,
.footer-message-box textarea {
    background: #333 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0 10px;
    width: 100%;
}

.footer-message-box input {
    height: 33px;
}

.footer-message-box textarea {
    height: 90px;
    line-height: 20px;
}

.footer-message-box input[type="submit"] {
    background: #f6416c none repeat scroll 0 0;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-message-box input::-webkit-input-placeholder,
.footer-message-box textarea::-webkit-input-placeholder {
    color: #eee;
    opacity: 1;
}

.footer-message-box input:-moz-placeholder,
.footer-message-box textarea:-moz-placeholder {
    color: #eee;
    /* Firefox 18- */
    opacity: 1;
}

.footer-message-box input::-moz-placeholder,
.footer-message-box textarea::-moz-placeholder {
    color: #eee;
    /* Firefox 19+ */
    opacity: 1;
}

.footer-message-box input:-ms-input-placeholder,
.footer-message-box textarea:-ms-input-placeholder {
    color: #eee;
    opacity: 1;
}

.copyright {
    background: #292727 none repeat scroll 0 0;
    padding: 15px 0;
}

.copyright-brief p {
    color: #f5f5f4;
    margin: 5px 0 0;
}

.copyright-brief a {
    color: #f6416c;
}

.footer-social a {
    background: #f3f3f3 none repeat scroll 0 0;
    color: #292727;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-left: 15px;
    text-align: center;
    width: 32px;
}

.footer-social a:first-child {
    margin-left: 0;
}

.footer-social a:hover {
    background: #f6416c none repeat scroll 0 0;
    color: #fff;
}