{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

        <!--title -->
        <section class="page-title centred">
            <div class="pattern-layer"></div>
            <div class="auto-container">
                <div class="content-box text-center">
                    <h1><span style="font-size:45px; color:red; font-weight:bold; font-family: 'Roboto', sans-serif;">About</span> Us</h1>
                    <ul class="bread-crumb clearfix">
                        <li><i class="fa-solid fa-house"></i><a   style="text-decoration:none; color:black; font-weight:bold;"  href="{% url 'home'  %}">Home</a></li>
                        <li style="color:black;">About Us</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--title-->
        <br><br> <hr><br>
        <!-- about-->
        <section class="about-section">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 text-column">
                        <div class="text-inner pl-4">
                            <h2>Simple <br/><span class="text-danger">&</span> Minimalistic <span class="text-danger"> E-Soko <span></h2>
                            <h3>Secure Checkout</h3>
                            <p>Excepteur sint occaecat cupidat non proident sunt in culpa qui officia deserunt mollit anim est laborum.</p>
                            <p>accusan enim ipsam voluptam quia voluptas sit aspern odit aut.</p>
                            <a href="#contact" class="btn2">Contact Us<i class="fa-solid fa-circle-arrow-up-right"></i> </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 image-column">
                        <figure class="image-box"><img src="{% static 'images/about-1.jpg' %}" style="width:100%; border-radius:; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="image-fluid"></figure>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-column">
                        <div class="text-inner">
                            <div class="box">
                                <h4>E-Soko Overview</h4>
                                <p>Excepteur sint occaecat cupidat non proident sunt in culpa qui officia deserunt mollit anim est laborum.accusan enim ipsam voluptam quia voluptas sit aspern odit aut.</p>
                            </div>
                            <div class="box">
                                <h4>Our Mission</h4>
                                <p>Excepteur sint occaecat cupidat non proident sunt in culpa qui officia deserunt mollit anim est laborum.accusan enim ipsam voluptam quia voluptas sit aspern odit aut.</p>
                                <p>Sed quia consequunturmagni dolores eos qui ratione voluptatem.</p>
                            </div>
                                <div class="box">
                                <h4>Core Values</h4>
                                <P>Transparency | Accountability | Value-centricity | Simpicity | Trust</P>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about end -->
<br><br><br><br>
        <!-- chooseus -->
        <section class="chooseus-section" id="image-column">
            <div class="outer-container clearfix">
                <div class="content-column" >
                    <div class="inner-column" id="content-column" >
                        <div class="content-box"style="border: 1px solid white;background-color:#fff;margin-right:5px;padding:20px;">
                            <div class="sec-title style-two">
                                <h2 class="fw-bold">Top Services Category</h2>
                                <p>There are some product that we featured for choose your best</p>
                                 <span><img src="{% static 'images/s3.png' %}" alt="" /></span> 
                            </div>
                            <br>
                            <div class="inner-box" style="border: 1px solid gray; padding-top:20px;padding-left:10px;border-radius:5px;" >
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                        <div class="single-item wow fadeInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                            <div class="icon-box"><i class="fa-solid fa-truck"></i></div>
                                            <h3>Free Shipping</h3>
                                            <p>Free shipping on oder over $100</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                        <div class="single-item wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                            <div class="icon-box"> <i class="fa-solid fa-phone fs-2x"></i></div>
                                            <h3>Support 24/7</h3>
                                            <p>Contact us 24 hours a day, 7 days a week</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                        <div class="single-item wow fadeInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                            <div class="icon-box"><i class="fa-brands fa-cc-amazon-pay"></i></div>
                                            <h3>Secure Payment</h3>
                                            <p>We ensure secure payment with PEV</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                        <div class="single-item wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                            <div class="icon-box"><i class="fa-solid fa-rotate-left"></i></div>
                                            <h3>30 Days Return</h3>
                                            <p>Simply return it within 30 days for an exchange.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-column" id="image-colum"></div> 
            </div>
        </section>
        <!-- chooseus end -->
        <!-- team-section -->
        <section class="team-section centred">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <h2 class="fw-bold">Our Expert Team</h2>
                    <p>Here are some  that we featured for choose your best</p>
                     <span><img src="{% static 'images/sb.png' %}" alt="" /></span> 
                <br><br>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box">
                                       <img src="{% static 'images/team3.png' %}" style="width:100%; border-radius:; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="image-fluid">
                               
                                    <ul class="social-links clearfix">
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </figure>
                                <div class="lower-content text-center">
                                    <h3>Agness Mbiti</h3>
                                    <span class="designation">Managing Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box">
                                       <img src="{% static 'images/j.jpg' %}" style="width:100%; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="image-fluid">
                                  
                                    <ul class="social-links clearfix">
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </figure>
                                <div class="lower-content text-center">
                                    <h3>Sir Felix </h3>
                                    <span class="designation">Business Consultant</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box">
                                       <img src="{% static 'images/team3.png' %}" style="width:100%; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="image-fluid">
                                    <ul class="social-links clearfix">
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </figure>
                                <div class="lower-content text-center">
                                    <h3>Florence</h3>
                                    <span class="designation">Research Consultant</span>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-3 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box">
                                       <img src="{% static 'images/j.jpg' %}" style="width:100%; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="image-fluid">
                                  
                                    <ul class="social-links clearfix">
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </figure>
                                <div class="lower-content text-center">
                                    <h3>Gamaliel Sirengo</h3>
                                    <span class="designation">Team Engineer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-section end -->

          <br><br><br><br>
        <!-- instagram-style-two -->
        <section class="container instagram-style-two">
              <div class="sec-title text-center">
                    <h2 class="fw-bold">Follow Us On Instagram</h2>
                    <p>E-Soko Home of Quality and Quantity for your cash</p>
                    <span><img src="{% static 'images/sb.png' %}" alt="" /></span>
                    <br><br>
                </div>
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-6 ">
                      <figure class="image-box">
                        <img src="{% static 'images/instagram-7.jpg' %}" style=" box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="image-fluid">
                        <ul class="info-list clearfix">
                            <li><a  style="text-decoration:none; color:black;"  href=""><i class="fa-solid fa-heart"></i>400</a></li>
                            <li><a  style="text-decoration:none; color:black;" href=""><i class="fa-solid fa-comments"></i>300</a></li>
                        </ul>
                    </figure>
                </div>
               <div class="col-md-3 col-lg-3 col-sm-6">
                 <figure class="image-box">
                    <img src="{% static 'images/instagram-8.jpg' %}" style="box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="image-fluid">
                        <ul class="info-list clearfix">
                            <li><a  style="text-decoration:none; color:black;" href=""><i class="fa-solid fa-heart"></i>450</a></li>
                            <li><a  style="text-decoration:none; color:black;"  href=""><i class="fa-solid fa-comments"></i>100</a></li>
                        </ul>
                    </figure>
               </div>
                <div class="col-md-3 col-lg-3 col-sm-6 ">
                    <figure class="image-box">
                        <img src="{% static 'images/instagram-9.jpg' %}" style=" box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="image-fluid">
                        <ul class="info-list clearfix">
                            <li><a style="text-decoration:none; color:black;"  href=""><i class="fa-solid fa-heart"></i>330</a></li>
                            <li><a style="text-decoration:none; color:black;"  href=""><i class="fa-solid fa-comments"></i>300</a></li>
                        </ul>
                    </figure>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 ">
                  <figure class="image-box">
                    <img src="{% static 'images/instagram-10.jpg' %}" style="border-radius:; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="image-fluid">
                        <ul class="info-list clearfix">
                            <li><a  style="text-decoration:none; color:black;"  href=""><i class="fa-solid fa-heart"></i>250</a></li>
                            <li><a   style="text-decoration:none; color:black;" href=""><i class="fa-solid fa-comments"></i>320</a></li>
                        </ul>
                    </figure>
                </div>
            </div>
        </section>

        <!-- instagram-style-two -->

{% endblock %}