{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div class="slideshow-container">

     <!-- Preloader -->
        {% comment %} <div class="loader-wrap">
            <div class="preloader">
                <div class="preloader-close">Preloader Close</div>
            </div>
            <div class="layer layer-one"><span class="overlay"></span></div>
            <div class="layer layer-two"><span class="overlay"></span></div>
            <div class="layer layer-three"><span class="overlay"></span></div>
        </div> {% endcomment %}
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="{% static 'images/1.jpg' %}" style="width:100%">
        <div class="text">
            <h1 class="title1">new fashion collection</h1> 
            <p class="slider-brief">Simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry.</p>
                <br>
                <a href="#" class="shop-now">shop now</a>
        </div>      
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="{% static 'images/3.jpg' %}" style="width:100%">
        <div class="text">
            <h1 class="title1">Men's fashion collection</h1>
            <p class="slider-brief">Simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry.</p>
            <br>
            <a href="#" class="shop-now">shop now</a>
        </div>
    </div>
    
    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="{% static 'images/3.jpg' %}" style="width:100%">
        <div class="text">
            <h1 class="title1">Women's fashion collection</h1>
            <p class="slider-brief">Simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry.</p>
            <br>
            <a href="#" class="shop-now">shop now</a>
        </div>   
    </div>

</div>    
<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

  <!-- collection-section -->
        <section class="collection-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12 single-column sect1">
                        <div class="single-item wow fadeInLeft animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box" id="bg1"style="">
                                <h2>Get Discount <br />For Headphone</h2>
                                <p>World Best Brands</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                        <div class="single-item wow fadeInRight animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box" id="bg2"style="">
                                <h2>Only For <br />Girls Fashion</h2>
                                <p>Incredible Quality</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- collection-section end -->

<div class="container">
    <div class="text-center">
         <h2>Top Categories</h2>
        <p> Follow the most popular trends and get exclusive items from castro shop</p>
        <span><img src="{% static 'images/slider-border.png' %}" alt="" /></span> 
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="{% static 'images/4.png' %}" alt="" style="border-radius: 50%; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);"height="250" class="card-img-top image-fluid">
            <h2>Men's fashion<br> collection</h2>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <img src="{% static 'images/2.jpg' %}" alt="" style="border-radius: 50%; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);"height="250" class="card-img-top image-fluid">
            <h2>New fashion <br>collection</h2>
      
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
               <img src="{% static 'images/3.jpg' %}" alt="" style="border-radius: 50%; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);"height="250" class="card-img-top image-fluid">
              <h3>Women's fashion <br> collection</h3>
        </div>
           <div class="col-lg-3 col-md-6 col-sm-12">
               <img src="{% static 'images/1.jpg' %}" alt="" style="border-radius: 50%; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);"height="250" class="card-img-top image-fluid">
              <h3>Kids fashion <br> collection</h3>
        </div>
    </div>
</div>






























<script>
let slideIndex = 0;
showSlides();

function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1 }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    setTimeout(showSlides, 1000); // Change image every 2 seconds
}
</script>

{% endblock %}