{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="{% static 'images/1.jpg' %}" style="width:100%">
        <div class="text">
            <h1 class="title1">new fashion collection</h1> 
            <p class="slider-brief">Simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry.</p>
                <br>
                <a href="#" class="shop-now">shop now</a>
        </div>      
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="{% static 'images/3.jpg' %}" style="width:100%">
        <div class="text">
            <h1 class="title1">Men's fashion collection</h1>
            <p class="slider-brief">Simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry.</p>
            <br>
            <a href="#" class="shop-now">shop now</a>
        </div>
    </div>
    
    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="{% static 'images/3.jpg' %}" style="width:100%">
        <div class="text">
            <h1 class="title1">Women's fashion collection</h1>
            <p class="slider-brief">Simply dummy text of the printing and typesetting industry. simply dummy text of the printing and typesetting industry.</p>
            <br>
            <a href="#" class="shop-now">shop now</a>
        </div>   
    </div>
</div>    
<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

  <!-- collection-section -->
  <div class="container mt-5">
      <section class="collection-section ">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12 single-column sect1">
                        <div class="single-item wow fadeInLeft animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box" id="bg1"style="">
                                <h2>Get Discount <br />For Headphone</h2>
                                <p>World Best Brands</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                        <div class="single-item wow fadeInRight animated animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box" id="bg2"style="">
                                <h2>Only For <br />Girls Fashion</h2>
                                <p>Incredible Quality</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  </div>    
<!-- collection-section end -->

<div class="container">
    <div class="text-center mt-5">
         <h2>Top Categories</h2>
        <p> Follow the most popular trends and get exclusive items from castro shop</p>
        <span><img src="{% static 'images/sb.png' %}" alt="" /></span> 
    </div>
    <div class="row text-center">
        <div class="fashion col-lg-3 col-md-6 col-sm-12">
             <div class="image"> <img src="{% static 'images/4.png' %}" alt="" style="border-radius: 50%; box-shadow: 2px 2px 5px rgba(3,3,3,0.5);"height="250" class="card-img-top image-fluid"> </div> 
            <h5 class="mt-3">Men's fashion<br> collection</h5>
        </div>
        <div class=" fashion col-lg-3 col-md-6 col-sm-12">
             <div class="image"> <img src="{% static 'images/2.jpg' %}" alt="" style="border-radius: 50%; box-shadow: 2px 2px 5px rgba(3,3,3,0.5);"height="250" class="card-img-top image-fluid"> </div> 
            <h5 class="mt-3">New fashion <br>collection</h5>
        </div>
        <div class="fashion col-lg-3 col-md-6 col-sm-12">
              <div class="image"> <img src="{% static 'images/3.jpg' %}" alt="" style="border-radius: 50%; box-shadow: 2px 2px 5px rgba(3,3,3,0.5);"height="250" class="card-img-top image-fluid"> </div> 
              <h5 class="mt-3">Women's fashion <br> collection</h5>
        </div>
           <div class="fashion col-lg-3 col-md-6 col-sm-12">
             <div class="image"> <img src="{% static 'images/1.jpg' %}" alt="" style="border-radius: 50%;  box-shadow: 2px 2px 5px rgba(3,3,3,0.5);"height="250" class="card-img-top image-fluid"> </div> 
              <h5 class="mt-3">Kids fashion <br> collection</h5>
        </div>
    </div>
</div>

    {% comment %} <div class="text-center">
         <h2>New Collections</h2>
        <p> Follow the most popular trends and get exclusive items from castro shop</p>
        <span><img src="{% static 'images/s.png' %}" alt="" /></span> 
    </div> {% endcomment %}
      <!-- NEW-COLLECTION START -->
        <div class="new-collection-area fix margin-bottom-80 mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="border-left-right-btm">New Arrivals</h2>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-6 p-0 mt-5">
                    <div class="single-collection">
                        <div class="collection-photo ">
                            <a href="#"><img src="{% static 'images/nc.jpg' %}" alt="" /></a>
                        </div>
                        <div class="collection-brief">
                            <div class="text-right">
                                <span class="new">new</span>
                            </div>
                            <h2>new <br /> <span>fashion</span></h2>
                            <ul ">
                                <li>100% cotton</li>
                                <li>high qualiety</li>
                                <li><a href="product-details.html">Add to cart</a></li>
                            </ul>
                            <a href="#" class="shop-now active-shop-now">shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-6 p-0 mt-5">
                    <div class="single-collection">
                        <div class="collection-photo">
                            <a href="#"><img src="{% static 'images/nc.jpg' %}" alt="" /></a>
                        </div>
                        <div class="collection-brief">
                            <div class="text-right">
                                <span class="new">new</span>
                            </div>
                            <h2>new <br /> <span>fashion</span></h2>
                            <ul>
                                <li>100% cotton</li>
                                <li>high quality</li>
                                <li><a href="product-details.html">Add to cart</a></li>
                            </ul>
                            <a href="#" class="shop-now active-shop-now">shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-6 p-0 mt-5">
                    <div class="single-collection">
                        <div class="collection-photo">
                            <a href="#"><img src="{% static 'images/nc.jpg' %}" alt="" /></a>
                        </div>
                        <div class="collection-brief">
                            <div class="text-right">
                                <span class="new">new</span>
                            </div>
                            <h2>new <br /> <span>fashion</span></h2>
                            <ul>
                                <li>100% cotton</li>
                                <li>high quality</li>
                                <li><a href="product-details.html">Add to cart</a></li>
                            </ul>
                            <a href="#" class="shop-now active-shop-now">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- NEW-COLLECTION END -->






























<script>
let slideIndex = 0;
showSlides();

function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) { slideIndex = 1 }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
    setTimeout(showSlides, 1000); // Change image every 2 seconds
}
</script>

{% endblock %}