{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
   <div class="container">
            <div class="row" style="margin-top: 2%;">
                     {% for product in products %}
                             <div class="col-md-3">
                                <img src="{% if product.photo %} {{ product.photo.url }} {% else %} {% static 'images/menf.jpg' %} {% endif %}" alt="..." style="width:auto; height=150px border-radius:; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="image-fluid">
                             </div>
                            <div class="caption col-md-3 text-center">
                                <h3 class="text-center">
                                    {{ product.name }}
                                </h3>
                                <p class="text-center">Kshs. {{ product.price }}</p> 
                                <p>{{ product.description|safe|linebreaksbr }}</p>
                                <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ cart_product_form }}
                                    <input type="submit" value="add to cart" class="btn btn-primary">
                                </form> 
                            </div>
                          {% endfor %}
                           <div class="col-sm-4 col-sm-offset-1 blog-sidebar text-end">
                                <div class="sidebar-module">
                                  <h4>Categories</h4>
                                
                                    <h5 {% if not category %} class="active"{% endif %}>
                                      <a href="{% url 'product_list' %}">All </a><h5>
                                  {% for c in categories %}
                                   <h6 {% if category.slug == c.slug %} class="active" {% endif %}>
                                        {{ c.name }}</h6>
                                   {% endfor %}
                                 </div>  
                             </div>
               </div>        
    </div><!-- /.container -->
    <br><br>
{% endblock %}