
<nav class="navbar navbar-expand-lg mb-2 bg-light fs-6 fixed-top bg-body shadow-lg rounded">
  <a class="navbar-brand fs-2 fw-bold  ml-2" href="#">E-Soko</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse fs-5" id="navbarNavDropdown">
    <ul class="navbar-nav mx-auto">   
      <li class="nav-item">
        <a class="nav-link"  style="color: rgb(0, 0, 10)" href="{% url 'home'  %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: rgb(0, 0, 10)" href="{% url 'about'  %}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  style="color: rgb(0, 0, 10)" href="{% url 'men' %}">Mens</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" style="color: rgb(0, 0, 10)" href="{% url 'women' %}">Women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  style="color: rgb(0, 0, 10)" href="{% url 'shop' %}">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  style="color: rgb(0, 0, 10)" href="#contact">Contact Us</a>
      </li>
     
    </ul>
  </div>
    <div class="col-2 text-end"  >  
        <ul class="nav navbar-nav navbar-right"> 
            <li>
               <a title="Cart" href="/cart/"><i class="text-dark  fs-4 fa-solid fa-cart-shopping mr-3"></i></a>
            </li>
                {% if user.is_authenticated%}
                  <li><a  title="Profile"style="text-decoration:none; font-size:15px; font-weight:bold" href="{% url 'profile' %}"> <i class="text-dark fs-4 fa-solid fa-user mr-3"></i></a></li>
                  <li><a title="Logout"style="text-decoration:none; font-size:15px; font-weight:bold" href="{% url 'logout' %}"><i class="fs-4 text-dark fa-solid fa-right-from-bracket mr-2"></i></a></li>
                  {% else %}
                {% comment %} <li><a style="text-decoration:none; font-size:15px; font-weight:bold" href="{% url 'signup' %}">Sign Up</a></li> {% endcomment %}
                <li><a style="text-decoration:none; font-size:15px; font-weight:bold;" title="Login" class="mr-3"href="{% url 'login' %}"><i class="fs-4 text-dark fa-solid fa-arrow-right-to-bracket"></i></a></li>                  
              {% endif %}
           <li>
               <a title="Like" href=""> <i class="text-danger fs-3 fa-solid fa-heart mr-1"></i></a>
            </li> 
    
         </ul> 
    </div> 
</nav>
<br><br>

