{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
   <section class="page-title centred">
            <div class="pattern-layer"></div>
            <div class="auto-container">
                <div class="content-box text-center">
                    <h1><span style="font-size:45px; color:red; font-weight:bold; font-family: 'Roboto', sans-serif;">Products</span> Shop</h1>
                    <ul class="bread-crumb clearfix">
                        <li><i class="fa-solid fa-house"></i><a   style="text-decoration:none;color:black;"  href="{% url 'home'  %}">Home</a></li> 
                        <li style="color:black;">Products</li>
                        <li><i class="fs-6 fa-solid fa-cart-shopping"></i><a   style="text-decoration:none; color:black;"  href="/cart/">Cart</a></li>    
                    </ul>
                </div>
            </div>
        </section>
        <!--title-->
        {%if messages%}
            {%for message in messages%}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endfor%}
        {%endif%}  
   <div class="container">
            <div class="row" style="margin-top: 2%;">
                {% for product in products %}
                             <div class="col-md-3">
                                <img src="{% if product.photo %} {{ product.photo.url }} {% else %} {% static 'images/menf.jpg' %} {% endif %}" alt="..." style="width:auto; height=150px border-radius:; box-shadow: 5px 5px 12px rgba(3,3,3,0.3);"class="image-fluid">
                             </div>
                            <div class="caption col-md-2 text-cente">
                                <h3 class="text-ce">
                                    {{ product.name }}
                                </h3>
                                <p class="text-c"> Price: <b>$. {{ product.price }}</b></p> 
                              
                                <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ cart_product_form }}
                                    <input type="submit" value="Add to cart" class="btn btn-sm btn-outline-primary">
                                </form> 
                                <p>{{ product.description|safe|linebreaksbr }}</p>
                                
                            </div>
                            <br><br> 
                           
                    {% endfor %}
                     <div class="col-md-2 col-sm-offset-1 blog-sidebar text-end"style="border-left: 1px solid #270A0A; border-radius:5px">
                                <div class="sidebar-module">
                                  <h4>Categories</h4>
                                
                                    <h3 {% if not category %} class="active"{% endif %}>
                                      <a style="text"href="{% url 'women' %}">All </a><h3>
                                  {% for c in categories %}
                                   <h6 {% if category.slug == c.slug %} class="active" {% endif %}>
                                        {{ c.name }}</h6>
                                   {% endfor %}
                                 </div>  
                             </div>
     
                   </div>        
        </div>  
               
<br><br>
{% endblock %}