{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
   <section class="page-title centred">
            <div class="pattern-layer"></div>
            <div class="auto-container">
                <div class="content-box text-center">
                    <h1><span style="font-size:45px; color:red; font-weight:bold; font-family: 'Roboto', sans-serif;">Products</span> Shop</h1>
                    <ul class="bread-crumb clearfix">
                        <li><i class="fa-solid fa-house"></i><a   style="text-decoration:none;color:black;"  href="{% url 'home'  %}">Home</a></li> 
                        <li style="color:black;">Products</li>
                        <li><i class="fs-6 fa-solid fa-cart-shopping"></i><a   style="text-decoration:none; color:black;"  href="/cart/">Cart</a></li>    
                    </ul>
                </div>
            </div>
        </section>
        <!--title-->
        {%if messages%}
            {%for message in messages%}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endfor%}
        {%endif%}  
    <hr>
  <div class="container">
            <div class="row" style="margin-top: 2%;">
                <div class="col-lg-3 order-lg-1 order-2">
                    <div style="border-right: 1px solid grey;">
                        <!-- widget-brand start -->
                            <aside class="widget widget-brand mt-4">
                                    <div class="col-sm-offset-1 blog-sidebar">
                                        <div class="sidebar-module">
                                            <h5 class="sidebar-title">Categories</h5>
                                                <ul {% if not category %} class="active"{% endif %}>
                                                    <li><a style="font-size:25px; color:#000; font-weight:bold"href="{% url 'women' %}">All </a></li>
                                                        {% for c in categories %}
                                                        <li {% if category.slug == c.slug %} class="active" {% endif %}><input type="checkbox" /><a  style="text-decoration:none"href="#">  {{ c.name }}</a></li>
                                                        {% endfor %}
                                                </ul>
                                    
                                        </div>  
                                    </div>
                            </aside>
                            <aside class="widget widget-brand mt-5">
                                <h5 class="sidebar-title">Brand</h5>
                                <ul>
                                    <li><input type="checkbox" /><a  style="text-decoration:none"href="#">Country Road</a></li>
                                    <li><input type="checkbox" /><a  style="text-decoration:none"href="#">H&M Home</a></li>
                                    <li><input type="checkbox" /><a  style="text-decoration:none"href="#">Urban outfitters</a></li>
                                    <li><input type="checkbox" /><a style="text-decoration:none" href="#">Zara home</a></li>
                                </ul>
                            </aside>
                          
                    </div>
                      <aside class="widget top-rated hidden-sm mt-5">
                                    <h5 class="sidebar-title">Accessories</h5>
                                    <div class="sidebar-product">
                                        <!-- Single-product start -->
                                        <div class="single-product">
                                            <div class="product-photo">
                                                <a href="#">
                                                    <img src="{% static 'images/1.png' %}"style="width:100%; border-radius:; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="primary-photo image-fluid">
                                                        
                                                    </a>
                                            </div>
                                            <div class="product-brief">
                                                <h2><a href="#"style="text-decoration:none;color:black;">Fluffy Bag</a></h2>
                                                <h3>$53.00 <span>$44.00</span></h3>
                                            </div>
                                        </div>
                                        <!-- Single-product end -->
                                        <!-- Single-product start -->
                                        <div class="single-product">
                                            <div class="product-photo">
                                                <a href="#">
                                                    <img src="{% static 'images/2.png' %}"style="width:100%; border-radius:; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="primary-photo image-fluid">
                                                
                                                    </a>
                                            </div>
                                            <div class="product-brief">
                                                <h2><a href="#" style="text-decoration:none;color:black;">CLEO POURER</a></h2>
                                                <h3>$50.00 <span>$39.00</span></h3>
                                            </div>
                                        </div>
                                        <!-- Single-product end -->
                                        <!-- Single-product start -->
                                        <div class="single-product">
                                            <div class="product-photo">
                                                <a href="#">
                                                    <img src="{% static 'images/3.png' %}"style="width:100%; border-radius:; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="primary-photo image-fluid">
                                                    
                                                    </a>
                                            </div>
                                            <div class="product-brief">
                                                <h2><a href="#" style="text-decoration:none;color:black;">TAM SPREADER</a></h2>
                                                <h3>$23.00 <span>$20.00</span></h3>
                                            </div>
                                        </div>
                                        <!-- Single-product end -->
                                        <!-- Single-product start -->
                                        <div class="single-product">
                                            <div class="product-photo">
                                                <a href="#">
                                                    <img src="{% static 'images/4.png' %}"style="width:100%; border-radius:; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="primary-photo image-fluid">
                                                        
                                                    </a>
                                            </div>
                                            <div class="product-brief">
                                                <h2><a href="#" style="text-decoration:none;color:black;">MARCEL THROW</a></h2>
                                                <h3>$22.00 <span>$19.00</span></h3>
                                            </div>
                                        </div>
                                        <!-- Single-product end -->
                                        <!-- Single-product start -->
                                        <div class="single-product">
                                            <div class="product-photo">
                                                <a href="#">
                                                    <img src="{% static 'images/5.png' %}"style="width:100%; border-radius:; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);"class="primary-photo image-fluid">
                                                    
                                                    </a>
                                            </div>
                                            <div class="product-brief">
                                                <h2><a href="#" style="text-decoration:none;color:black;">RLIE EXTRA SMALL</a></h2>
                                                <h3>$25.00 <span>$16.00</span></h3>
                                            </div>
                                        </div>
                                        <!-- Single-product end -->
                                    </div>
                                </aside>
                        <!-- widget-top-brand end -->
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="container">
                                <div class="row" style="margin-top: 2%;">
                                    {% for product in products %}
                                                <div class="card col-xl-4 col-md-6">
                                                            <div class="single-product">
                                                                <div class="product-photo">
                                                                    <img src="{% if product.photo %} {{ product.photo.url }} {% else %} {% static 'images/menf.jpg' %} {% endif %}" alt="product" style="width:auto; height=150px border-radius:; box-shadow: 6px 6px 15px rgba(3,3,3,0.5);"class="image-fluid">
                                                                    <div class="pro-action">
                                                                        <form action="{% url 'cart:cart_add' product.id %}" class="fs-5" style="color: #DC4145;" method="POST">
                                                                                {% csrf_token %}
                                                                                {{ cart_product_form|crispy }}
                                                                                <input type="submit" value="Add to cart" style="border:none"  class="action-btn">
                                                                            </form> 
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <div class="product-brief">
                                                                    <h2 class="fs-5 fw-bold">{{ product.name }}</h2>
                                                                    <h3 class="text-c"><span class="fs-5"> Price:</span><br><span style="text-decoration:line-through;font-size:15px;margin-right:10px">Then $20</span>| Now <b>${{ product.price }}</b></h3> 
                                                                    {% comment %} <p>{{ product.description|safe|linebreaksbr }}</p> {% endcomment %}
                                                                </div>
                                                                <hr>
                                                            </div>
                                                        </div>	
                                                        <br> 
                                                         <br>
                                                {% endfor %}
                                            
                                            </div>        
                                  </div>    
                        </div>  
        </div>   
</div>               
<hr><br>
{% endblock %}