{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<body>
	    <section class="page-title centred">
				<div class="pattern-layer"></div>
				<div class="auto-container">
					<div class="content-box text-center">
						<h1 class="page-banner-title">Shop</h1>
						<ul class="bread-crumb clearfix">
							<li><i class="fa-solid fa-house"></i><a   style="text-decoration:none;"  href="{% url 'home'  %}">Home</a></li>
							<li>Shop</li>
						</ul>
					</div>
				</div>
			</section>
    <li><a href="">mens</a></li>
	<li><a href="shop-list.html">womens</a></li>
	<li><a href="shop.html">shop</a>
											<div class="mega-menu">
												<span>
													<a class="mega-menu-title" href="#">WOMEN CLOTH</a>
													<a href="#">casual shirt</a>
													<a href="#">rikke t-shirt</a>
													<a href="#">mia top</a>
													<a href="#">mia top</a>
													<a href="#">muscle tee</a>
													<a href="#">seine blouse</a>
												</span>
												<span>
													<a class="mega-menu-title" href="#">MEN CLOTH</a>
													<a href="#">casual shirt</a>
													<a href="#">t-shirt</a>
													<a href="#">t-shirt</a>
													<a href="#">zeans</a>
													<a href="#">trousers/ pants </a>
													<a href="#">sweamwear</a>
												</span>
												<span>
													<a class="mega-menu-title" href="#">WOMEN JEWELRY</a>
													<a href="#">necklace</a>
													<a href="#">samhar cuff</a>
													<a href="#">samhar cuff</a>
													<a href="#">samhar cuff</a>
													<a href="#">nail set</a>
													<a href="#">drop earrings</a>
												</span>
												<span class="mega-menu-photo">
													<a href="#"><img src="img/megamenu/1.jpg" alt="" /></a>
												</span>
											</div>
	</li>
</body>
{% endblock %}