<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Mens' clothes</th>
        <th scope="col">Women's clothes</th>
        <th scope="col">Women's jewelry</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"  style="display: flex; justify-content: space-evenly;"></th>
        <td>T-shirt</td>
        <td>Blazers</td>
        <td>Pants</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Skirts</td>
        <td>Blouses</td>
        <td>Shorts</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Necklaces</td>
        <td>Necklaces</td>
        <td>Necklaces</td>
      </tr>
    </tbody>
  </table>

  <hr>