{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load socialaccount %}
<style>
    #id_login{
        color:green;


    }
  #id_password{
        color:green;


    }


</style>
 {% block content %}
 <div class="container">
      <div class="mb-3 mt-3 text-center"style="padding:10px;border: 1px solid #eee;border-radius:3px; box-shadow: 2px 2px 5px rgba(3,3,3,0.3);">
        <h3><span style="font-size:30px; color:red; font-weight:bold; font-family: 'Roboto', sans-serif;">Login Now</span> <span style="font-size:30px; color:black;margin-left:10px">with E-SOKO</span></h3>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5"style="padding:10px;border: 1px solid #eee;border-radius:3px; box-shadow: 5px 5px 12px rgba(3,3,3,0.3);">
            <form action="" method="post" novalidate style="padding:10px;">
             
                {% csrf_token %}
                {{ form|crispy }}
                 <br>
                  <p class="fs-6"><label for="id_remember">Remember Me:</label> <input type="checkbox" name="remember" id="id_remember"></p>           
                    <button class="btn2 btn-lg btn-outline-info">Login</button>
                    <a class="button secondaryAction" style="float: right; margin-right: 5px;"href="/accounts/password/reset/">Forgot Password?</a>
                 <br><br><hr>
                <div class="form-group text-center">   
                    <small class="fs-6">Don't have an account yet? <br><a class="btn btn-sm btn-primary" href="{% url 'signup' %}">Sign Up</a></small> 
                    or use 
                    <a href="{% provider_login_url 'google' method='oauth2' %}"><img src="{% static 'images/google.jpg'%}" style="width: 10%; height:10%"></a> <small class=""> to sign up</small>.
                </div>
                <hr>
            </form>
        </div>
        
    </div> 
</div>
<br><hr><br>

{% endblock %}
{% block common_scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script type="text/javascript">
  // Load jquery straight from the cdn for this page.
  $(function() {
    // We need some mappings for Providers names from AllAuth to the icon class names.
    $('.btn-google').addClass('btn-google-plus');
    $('.btn-linkedin_oauth2').addClass('btn-linkedin');
    $('.fa-linkedin_oauth2').addClass('fa-linkedin');
    $('#id_login').addClass('form-control').removeAttr('autofocus').blur();
    $('#id_password').addClass('form-control');
  });
</script>

{% endblock %}