{% extends 'base.html' %} 
{% load static %} 
{% block title %} Your Shopping Cart| Thank you {% endblock %} 
{% block content %}
  <section class="page-title centred">
            <div class="pattern-layer"></div>
            <div class="auto-container">
                <div class="content-box text-center">
                    <h1><span style="font-size:45px; color:red; font-weight:bold; font-family: 'Roboto', sans-serif;">E-SOKO</span> Purchase_units</h1>
                    <ul class="bread-crumb clearfix">
                        <li><i class="fa-solid fa-house"></i><a   style="text-decoration:none; color:black;"  href="{% url 'home'  %}">Home</a></li>
                        <li style="color:black">purchase_units</li>
                    </ul>
                </div>
            </div>
    </section>
        {%if messages%}
                {%for message in messages%}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {%endfor%}
        {%endif%}   
    <br> 
<div class="container">
    <div class="row" style="margin-top: 2%">
          <h3 class="page-header">Hello <span class="fw-bold text-muted">{{user}}</span>,</h3>
          
        <div class="col-md-6 col-md-offset-2 mt-4">
          
               <h5> Thank You For Shopping With E-SOKO</h5>
            <p>Your purchase has been successfully completed. Your purchase id number is <strong>{{ order.id }}</strong>.</p>
           
        </div>
    </div>
</div>
<br><hr><br>
{% endblock %}